<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instagram Home Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <!-- FontAwesome Icons -->
    <script src="https://kit.fontawesome.com/a93cd85bc0.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/styles/home.css">
</head>
<body>
<div class="container">
    <!-- Sidebar -->
    <div class="sidebar">
        <!--        <h4>Instagram</h4>-->
        <a th:href="@{'/home/' + ${currentUser.getId()}}"><img src="/images/instagram-word-logo.png" style="width: 80%" alt="instagram-logo" class="mb-3"></a>
        <a th:href="@{'/home/' + ${currentUser.getId()}}" class="active"><span class="icon"><i class="fas fa-home"></i></span>Home</a>
        <a href="#"><span class="icon"><i class="fas fa-search"></i></span>Search</a>
        <a href="#"><span class="icon"><i class="far fa-compass"></i></span>Explore</a>
        <a href="#"><span class="icon"><i class="fas fa-clapperboard"></i></span>Reels</a>
        <a href="#"><span class="icon"><i class="far fa-envelope"></i></span>Messages</a>
        <a href="#"><span class="icon"><i class="far fa-heart"></i></span>Notifications</a>
        <a href="#"><span class="icon"><i class="fas fa-plus-circle"></i></span>Create</a>
        <a th:href="@{'/user/' + ${currentUser.getId()} + '/profile'}"><span class="icon"><i class="far fa-user-circle"></i></span>Profile</a>
    </div>

    <div class="main-content-suggestions">
        <!-- Main Content -->
        <div class="main-content">
            <!-- Stories -->
            <div class="stories" id="stories" th:data-id="${currentUser.getId()}">
<!--                <div class="story"><img src="https://via.placeholder.com/60" alt="User"><p>@user1</p></div>-->
<!--                <div class="story"><img src="https://via.placeholder.com/60" alt="User"><p>@user2</p></div>-->
<!--                <div class="story"><img src="https://via.placeholder.com/60" alt="User"><p>@user3</p></div>-->
<!--                <div class="story"><img src="https://via.placeholder.com/60" alt="User"><p>@user4</p></div>-->
<!--                <div class="story"><img src="https://via.placeholder.com/60" alt="User"><p>@user5</p></div>-->
<!--                <div class="story"><img src="https://via.placeholder.com/60" alt="User"><p>@user6</p></div>-->
<!--                <div class="story"><img src="https://via.placeholder.com/60" alt="User"><p>@user7</p></div>-->
<!--                <div class="story"><img src="https://via.placeholder.com/60" alt="User"><p>@user8</p></div>-->
<!--                <div class="story"><img src="https://via.placeholder.com/60" alt="User"><p>@user9</p></div>-->
<!--                <div class="story"><img src="https://via.placeholder.com/60" alt="User"><p>@user10</p></div>-->
            </div>

            <!-- Posts -->
            <div class="post">
                <div class="post-header">
                    <img src="https://via.placeholder.com/40" alt="User">
                    <p><strong>@username</strong></p>
                </div>
                <div class="post-body">
                    <img src="https://via.placeholder.com/600x400" alt="Post Image">
                    <div class="post-icons">
                        <span class="icon"><i class="far fa-heart"></i></span>
                        <span class="icon"><i class="far fa-comment"></i></span>
                        <span class="icon"><i class="far fa-paper-plane"></i></span>
                        <span class="icon icon-bookmark"><i class="far fa-bookmark"></i></span>
                    </div>
                    <span>10 Likes</span>
                    <p><strong>@username</strong> Caption for the post...</p>
                </div>
                <!--                <div class="post-footer">-->
                <!--                    <span><i class="fas fa-heart"></i> 10 Likes</span>-->
                <!--                    <span><i class="fas fa-comment"></i> 5 Comments</span>-->
                <!--                </div>-->
            </div>
            <div class="post">
                <div class="post-header">
                    <img src="https://via.placeholder.com/40" alt="User">
                    <p><strong>@username</strong></p>
                </div>
                <div class="post-body">
                    <img src="https://via.placeholder.com/600x400" alt="Post Image">
                    <div class="post-icons">
                        <span class="icon"><i class="far fa-heart"></i></span>
                        <span class="icon"><i class="far fa-comment"></i></span>
                        <span class="icon"><i class="far fa-paper-plane"></i></span>
                        <span class="icon icon-bookmark"><i class="far fa-bookmark"></i></span>
                    </div>
                    <span>10 Likes</span>
                    <p><strong>@username</strong> Caption for the post...</p>
                </div>
                <!--                <div class="post-footer">-->
                <!--                    <span><i class="fas fa-heart"></i> 10 Likes</span>-->
                <!--                    <span><i class="fas fa-comment"></i> 5 Comments</span>-->
                <!--                </div>-->
            </div>
        </div>

        <!-- Suggestions -->
        <div class="suggestions">
            <div class="profile mb-3">
                <a th:href="@{'/user/' + ${currentUser.getId()} + '/profile'}"><img th:if="${currentUser.getContent() == null}" src="/images/user-profile-icon-free-vector.jpg" alt="Profile">
                <img th:unless="${currentUser.getContent() == null}" th:src="@{'/file/' + ${currentUser.getContent().getContenetName()}}" alt="Profile"></a>
                <a th:href="@{'/user/' + ${currentUser.getId()} + '/profile'}"><span th:text="${currentUser.getUsername()}" class="text-decoration-none"></span></a>
                <span class="follow-btn">Switch</span>
            </div>
            <h6>Suggestions For You</h6>
            <div class="user-suggestion">
                <img src="https://via.placeholder.com/40" alt="User">
                <span>@user1</span>
                <span class="follow-btn">Follow</span>
            </div>
            <div class="user-suggestion">
                <img src="https://via.placeholder.com/40" alt="User">
                <span>@user2</span>
                <span class="follow-btn">Follow</span>
            </div>
        </div>
    </div>

</div>

<script src="/js/home.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
